body {
    background-image: a;
    background-size: cover;
    margin: 0;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

#title {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(245, 57, 57);
}


#img-div {
    /* background-color: rgba(241, 195, 195, 0.719); */
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0 10% 0 10%;
    margin-bottom: 0px;
    z-index: 2;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 5px; */
    border-radius: 15px;
}

#img-caption {
    font-size: 0.7em;
    caption-side: bottom;
    text-align: center;
}

#tribute-info {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 2% 20% 2% 20%;
    background-color: rgba(241, 195, 195, 0.719);
    background-image: url(img/pngfind.com-skateboard-side-view-png-4936955.png);
    background-size: 50%;
    background-blend-mode: darken;
}

#tribute-info-container {
    box-shadow: 2px 0px 10px 3px rgb(153, 149, 149), -2px 0px 10px 3px rgb(153, 149, 149);
    padding: 1% 10% 5% 10%;
    background-color: rgba(243, 240, 240, 0.678);
    border-radius: 4px;
    /* position: relative;
    top: 10px; */
}

#tribute-info h2 {
    margin-top: 10px
}

#tribute-info p{
    text-align: left;
}

#footer {
    clear: both;
}